<?xml version="1.0" encoding="UTF-8" ?>

<configuration>

    <system.web>
    
        <customErrors mode="Off"/>
        
        <authentication mode="Forms">
            <forms name=".ASPXAUTH" loginUrl="Login.aspx">
                <credentials passwordFormat="Clear">
                    <user name="John" password="Hello" />
                    <user name="Bill" password="Goodbye" />
                </credentials>
            </forms>
        </authentication>  
        
        <authorization>
            <deny users="?" /> 
        </authorization>

    </system.web>

</configuration>
